@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .input-container {
    @apply flex flex-col items-start justify-center;
  }
  .form-input {
    @apply mt-2 w-full rounded-sm border-none bg-white px-3 py-2 text-sm outline-none ring-1 ring-slate-300 transition-all placeholder:text-sm placeholder:text-transparent focus:ring-primary;
  }

  .form-btn {
    @apply rounded-lg border px-5 py-2 shadow-md outline-none hover:bg-primary-dark;
  }
  .form-btn-primary {
    @apply border-primary bg-primary text-white hover:bg-primary-dark;
  }

  .form-btn-secondary {
    @apply border-primary bg-white text-primary hover:bg-gray-100;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-start {
    @apply flex items-center justify-start;
  }
  .flex-end {
    @apply flex items-center justify-end;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-evenly {
    @apply flex items-center justify-evenly;
  }
  .flex-around {
    @apply flex items-center justify-around;
  }
  .form-label {
    @apply absolute left-0 top-3.5 ml-1 -translate-y-4 rounded bg-white px-1 text-sm duration-100 ease-linear peer-placeholder-shown:translate-y-0 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:ml-1 peer-focus:-translate-y-4 peer-focus:px-1 peer-focus:text-sm;
  }
}

.multi-select > div:first-child {
  width: 100%;
  background-color: #fff;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Select some files";
  display: inline-block;
  background: linear-gradient(to-top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  --webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: #6366f1;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
